* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  height: 80px;
  background-color: black;
  color: white;
}

main {
  height: calc(100vh - 160px);
  overflow-y: auto;
  background-color: black;
}

footer{
    background-color: #222222;
    height: 80px;
    flex-basis: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

/*HEADER*/
.header-content {
  display: flex;
  justify-content: flex-end;
  padding: 25px;
}

.header-content > span{
    background-color: gray;
    padding: 5px;
}

/*MAIN*/
.container {
  max-width: 1152px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  color: white;
  justify-content: center;
  align-content: flex-start;
  min-width: calc(100% / 7 - 10px);
  margin-top: 200px;
}



.content {
  position: relative;
  padding: 5px;
  min-height: 80px;
  width: 150px;
  margin-bottom: 20px;

}

.content img {
  width: 100%;
}

/*FOOTER*/

.left-side{
    display: flex;
    flex-basis: 20%;
}

.center-side{
    display: flex;
    flex-basis: 20%;
    margin-right: 500px;
}

    
footer i{
    margin:8px;
}
.action{
    margin-right: 80px;
}

.invite{
    justify-content:;
}

.right-side{
    display: flex;
    height: 80px;
    align-items: center;
    background-color: #4a4a4a;
}

.mic-mute{
    position: absolute;
    bottom: 12px;
}